.jumbotron {
    background-image: url('../images/jumbotron-bg-21.jpg');
    background-size: cover;
    text-align: center;
}

#jumbotron-panel {
    background-color: rgba(55, 208, 255, 0.95);
}

#topNavbar {
    background: rgba(108, 221, 255, 0.95);
}

.navbar-dark .nav-link {
    color: white!important;
}

.panel {
    background-color: white;
}

.display-2 {
    font-size: 5.5rem;
    font-weight: 300;
    line-height: 1.0;
}

.active {
    background-color: aqua!important;
}

body {
    background-color: rgb(189, 240, 255);
    position: relative;
}

#video {
    width: 30rem;
}